.headerStyle1 {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.5px;
}

.headerStyle2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.5px;
}

.headerStyle3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.5px;
}

.headerStyle4 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.5px;
}